TerminalStackedPirates/Globals/SaveGameFiles/allcrews.csv
TerminalStackedPirates/Globals/SaveGameFiles/allpacks.csv
TerminalStackedPirates/Globals/SaveGameFiles/bartenders.csv
TerminalStackedPirates/Globals/SaveGameFiles/crewcards.csv
TerminalStackedPirates/Globals/SaveGameFiles/crewlist.csv
TerminalStackedPirates/Globals/SaveGameFiles/foodcards.csv
TerminalStackedPirates/Globals/SaveGameFiles/inventory.csv
TerminalStackedPirates/Globals/SaveGameFiles/player.csv
TerminalStackedPirates/Globals/SaveGameFiles/playership.csv
TerminalStackedPirates/Globals/SaveGameFiles/ports.csv
TerminalStackedPirates/Globals/SaveGameFiles/shipcards.csv
TerminalStackedPirates/Globals/SaveGameFiles/supplystores.csv
TerminalStackedPirates/Globals/SaveGameFiles/taverns.csv
TerminalStackedPirates/Globals/SaveGameFiles/crews.csv
TerminalStackedPirates/Globals/SaveGameFiles/map.csv
TerminalStackedPirates/Globals/SaveGameFiles/dockyards.csv
TerminalStackedPirates/Globals/SaveGameFiles/packs.csv
Ideas/I need cards.txt
TerminalStackedPirates/Globals/SaveGameFiles/world.csv
TerminalStackedPirates/Globals/SaveGameFiles/location.csv
TerminalStackedPirates/Globals/SaveGameFiles/ocean.csv
